@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Walter+Turncoat&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default, dim;
};

:root {
  --font-sans: "Google Sans", sans-serif;
}

.custom-path-01 {
  stroke-dasharray: 1;
	stroke-dashoffset: 1;
	animation: draw 4s ease-in-out forwards;
}

@keyframes draw {
	to { stroke-dashoffset: 0; }
}
